@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: "Anek Devanagari", sans-serif;
}

.main_div {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}


h2 {
    text-decoration: underline;
    cursor: pointer;
}

#electrical_txt {
    display: none;
}




.select_section {
    display: flex;
    justify-content: center;
    align-items: center;
}



.search_section {
    width: 400px;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.select_section select {
    width: 60%;
    height: 35px;
    padding-left: 5px;
    outline: none;
    font-weight: bold;
    margin-left: 8px;
}

h3 button {
    padding: 1px;
    cursor: pointer;
    margin-left: 5px;
}

.holder_section {
    border-bottom: 1px solid black;
}

.holder_section h3 {
    border-bottom: 1px solid black;
}

#dropdown1 {
    display: none;
}

#dropdown2 {
    display: none;
}

#dropdown3 {
    display: none;
}

.electrical_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}

.inner_holder {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_holder label {
    width: 220px;
    display: inline-block;
}

.inner_holder input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#preview1 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}

/* .inner_holder select{
    padding-left: 5px;
    width: 150px;
    outline: none;
} */


.wire_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.wire_section h3 {
    border-bottom: 1px solid black;
}


.inner_wire {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_wire label {
    width: 210px;
    display: inline-block;
}

.inner_wire input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#preview2 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.bulb_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.bulb_section h3 {
    border-bottom: 1px solid black;
}


.inner_bulb {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_bulb label {
    width: 210px;
    display: inline-block;
}

.inner_bulb input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#preview3 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Glass Option Start Here  */


.glass_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#glass_txt {
    display: none;
}

.urn_section {
    border-bottom: 1px solid black;
}

.urn_section h3 {
    border-bottom: 1px solid black;
}

#dropdown4 {
    display: none;
}

.inner_urn {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_urn label {
    width: 210px;
    display: inline-block;
}

.inner_urn input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#preview4 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



.pipe_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.pipe_section h3 {
    border-bottom: 1px solid black;
}


.inner_pipe {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_pipe label {
    width: 210px;
    display: inline-block;
}

.inner_pipe input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}


#dropdown5 {
    display: none;
}


#preview5 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



.arm_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.arm_section h3 {
    border-bottom: 1px solid black;
}


.inner_arm {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_arm label {
    width: 210px;
    display: inline-block;
}

.inner_arm input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown6 {
    display: none;
}


#preview6 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.shade_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.shade_section h3 {
    border-bottom: 1px solid black;
}


.inner_shade {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_shade label {
    width: 210px;
    display: inline-block;
}

.inner_shade input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown7 {
    display: none;
}


#preview7 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* Metal Section Start Here  */

.metal_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#metal_txt {
    display: none;
}

.plate_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.plate_section h3 {
    border-bottom: 1px solid black;
}


.inner_plate {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_plate label {
    width: 210px;
    display: inline-block;
}

.inner_plate input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown8 {
    display: none;
}


#preview8 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.centre_pipe_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.inner_centre_pipe h3 {
    border-bottom: 1px solid black;
}


.inner_centre_pipe {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_centre_pipe label {
    width: 210px;
    display: inline-block;
}

.inner_centre_pipe input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown9 {
    display: none;
}


#preview9 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */


/* Stationary Section Start Here  */


.stationary_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#stationary_txt {
    display: none;
}


.paper_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.paper_section h3 {
    border-bottom: 1px solid black;
}

.inner_paper {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_paper label {
    width: 210px;
    display: inline-block;
}

.inner_paper input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown10 {
    display: none;
}


#preview10 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.ball_pen_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.ball_pen_section h3 {
    border-bottom: 1px solid black;
}

.inner_ball_pen {
    padding: 10px 0;
    width: 95%;
    margin: auto;
}

.inner_ball_pen label {
    width: 210px;
    display: inline-block;
}

.inner_ball_pen input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown11 {
    display: none;
}


#preview11 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Shades Section Start Here  */

.shades_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#shades_txt {
    display: none;
}


.wall_light_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.wall_light_section h3 {
    border-bottom: 1px solid black;
}

.inner_wall_light {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_wall_light label {
    width: 210px;
    display: inline-block;
}

.inner_wall_light input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown12 {
    display: none;
}

#preview12 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.chandelier_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.chandelier_section h3 {
    border-bottom: 1px solid black;
}

.inner_chandelier {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_chandelier label {
    width: 210px;
    display: inline-block;
}

.inner_chandelier input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown13 {
    display: none;
}


#preview13 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



.table_lamp_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.table_lamp_section h3 {
    border-bottom: 1px solid black;
}

.inner_table_lamp {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_table_lamp label {
    width: 210px;
    display: inline-block;
}

.inner_table_lamp input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown14 {
    display: none;
}


#preview14 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* Acrylic Section Start Here */

.acrylic_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#acrylic_txt {
    display: none;
}


.acrylic_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.acrylic_section h3 {
    border-bottom: 1px solid black;
}

.inner_acrylic {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_acrylic label {
    width: 210px;
    display: inline-block;
}

.inner_acrylic input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown15 {
    display: none;
}

#preview15 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.acrylic_pipe_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.acrylic_pipe_section h3 {
    border-bottom: 1px solid black;
}

.inner_acrylic_pipe {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_acrylic_pipe label {
    width: 210px;
    display: inline-block;
}

.inner_acrylic_pipe input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown16 {
    display: none;
}

#preview16 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Crystal Section Start Here  */

.crystal_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#crystal_txt {
    display: none;
}

.crystal_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.crystal_section h3 {
    border-bottom: 1px solid black;
}

.inner_crystal {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_crystal label {
    width: 210px;
    display: inline-block;
}

.inner_crystal input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown17 {
    display: none;
}

#preview17 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Packaging Section Start Here  */

.packaging_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#packaging_txt {
    display: none;
}

.carton_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.carton_section h3 {
    border-bottom: 1px solid black;
}

.inner_carton {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_carton label {
    width: 210px;
    display: inline-block;
}

.inner_carton input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown18 {
    display: none;
}

#preview18 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.air_bubble_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.air_bubble_section h3 {
    border-bottom: 1px solid black;
}

.inner_air_bubble {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_air_bubble label {
    width: 210px;
    display: inline-block;
}

.inner_air_bubble input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown19 {
    display: none;
}

#preview19 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.thermocol_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.thermocol_section h3 {
    border-bottom: 1px solid black;
}

.inner_thermocol {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_thermocol label {
    width: 210px;
    display: inline-block;
}

.inner_thermocol input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown20 {
    display: none;
}

#preview20 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}

.tape_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.tape_section h3 {
    border-bottom: 1px solid black;
}

.inner_tape {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_tape label {
    width: 210px;
    display: inline-block;
}

.inner_tape input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown21 {
    display: none;
}

#preview21 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Packaging Section Start Here  */

.consubale_options {
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}


#consubale_txt {
    display: none;
}


.fasteners_section {
    /* margin-top: 20px; */
    border-bottom: 1px solid black;
}

.fasteners_section h3 {
    border-bottom: 1px solid black;
}

.inner_fasteners {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_fasteners label {
    width: 210px;
    display: inline-block;
}

.inner_fasteners input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown22 {
    display: none;
}

#preview22 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}


.screw_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.screw_section h3 {
    border-bottom: 1px solid black;
}

.inner_screw {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_screw label {
    width: 210px;
    display: inline-block;
}

.inner_screw input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown23 {
    display: none;
}

#preview23 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}

.concrete_section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.concrete_section h3 {
    border-bottom: 1px solid black;
}

.inner_concrete {
    padding: 10px 0;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}

.inner_concrete label {
    width: 210px;
    display: inline-block;
}

.inner_concrete input {
    width: 150px;
    height: 30px;
    margin: 4px 0;
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

#dropdown24 {
    display: none;
}

#preview24 {
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 160px;
}